#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
}

header {
  display: flex;
   flex-direction: column;
  align-items: center;
  background-color: #ee93f1;
  color: rgb(217, 127, 242);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

header h1 {
  margin: 0;
  font-size: 1.8em; 
  text-align: center; 
  margin-bottom: 10px; 
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: rgb(116, 125, 227);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.95em; 
  white-space: nowrap; 
}

.App {
  max-width: 1200px;
  margin: 15px auto;
  padding: 15px;
  background-color: #e4d8f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-title {
  text-align: center;
  color: #6a0dad;
  margin-bottom: 15px;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: cursive;
}

.article-title {
  font-size: 1.5em;
  color: #4a007a;
  margin-bottom: 8px;
  line-height: 1.3;
  font-family: cursive;
}

.article-name {
  font-size: 0.9em;
  color: #555555;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 0;
}

.article-topic {
  font-size: 1em; 
  font-weight: bold;
  color: #8a2be2;
  margin-bottom: 15px;
  text-align: left;
  color: #333333;
}

.all-articles {
  font-size: 1.3em;
  color: #6a0dad;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Roboto', sans-serif;
}

.article-body {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 15px;
  max-width: 100%;
}

.lastest-articles {
  font-size: 1.1em;
  color: #4a007a;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.comments-title {
  font-size: 1.1em;
  color: #534e57;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  max-width: 100%;
}

.comment-display-item p {
  font-size: 0.9em;  
  line-height: 1.5;
  color: #220c2a;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  max-width: 100%;
}
